/*reset*/
h1, p, h2, section, figure,
body, html {
  padding: 0;
  margin: 0;
  border: 0;

  text-decoration: none;

  font: inherit;
  color: inherit;
}

/* styles */
body {
  font-family: sans-serif;
}

figure.grid {
  position: relative;
  margin: 30px auto;
  height: 500px;
  width: 500px;
  background: #7ED87E;
  box-shadow: 5px 5px 4px 1px #3E693E;
  border: 1px solid #5D9A5D;
}

section.cell {
  float: left;
  height: 20px;
  width: 20px;
}

section.snake {
  background: blue;
}

section.apple {
  background: red;
  border-radius: 100%;
}

div.points {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.game-over {
  display:none;
  font-size: 60px;
  position: absolute;
  left: 90px;
  top: 90px;
  z-index: 1;
}

strong.active {
  display: block
}
